<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>VoiceForge AI</title>
<style>
body{font-family:sans-serif;background:#0f172a;color:white;text-align:center;padding:30px}
textarea{width:100%;height:150px;border-radius:10px;padding:10px}
button{padding:12px 25px;border-radius:10px;border:none;background:#22c55e;color:black;font-size:18px}
select{padding:10px;border-radius:10px}
audio{margin-top:20px;width:100%}
</style>
</head>

<body>

<h1>🔊 VoiceForge AI</h1>

<textarea id="text" placeholder="Enter text here..."></textarea>

<br><br>

<select id="lang">
<option value="en-US">English</option>
<option value="ur-PK">Urdu</option>
<option value="hi-IN">Hindi</option>
<option value="ar-SA">Arabic</option>
<option value="fr-FR">French</option>
<option value="de-DE">German</option>
<option value="es-ES">Spanish</option>
</select>

<br><br>

<button onclick="speak()">Generate Voice</button>

<script>
function speak(){
let msg = new SpeechSynthesisUtterance();
msg.text = document.getElementById("text").value;
msg.lang = document.getElementById("lang").value;
speechSynthesis.speak(msg);
}
</script>

</body>
</html>